.competences {
  border: 2px solid #e1ada2;
  border-radius: 10px;
  h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
  }
  h2 {
    text-decoration: underline;
    margin-left: 61px;
    font-family: Montserrat, sans-serif;
  }
  img {
    object-fit: contain;
  }
  ul {
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 138px;
    margin: 0;
    li {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      border-bottom: 2px solid;
    }
  }
}
@media (max-width: 767px) {
  .competences {
    h2 {
      margin-left: 25px;
    }
    ul {
      padding: 20px;
    }
  }
}
