.accueil {
  background-image: url("../../../public/images/fond2.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
  border-radius: 0 0 10px 10px;
  p {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: large;
  }
  h1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
  }
}
@media (max-width: 1024px) {
  h1 {
    text-align: center;
  }
}
