.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e1ada2;
  border-radius: 10px;
  h1 {
    font-family: Montserrat, sans-serif;
  }
  &_contente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 37px;
    border-radius: 10px;
    padding: 30px;
    background-color: #e1ada2;
    margin-bottom: 30px;
    margin-inline: 100px;
    font-family: Roboto, sans-serif;
    text-align: justify;
    line-height: 30px;

    a {
      text-decoration: none;
      color: black;
      text-align: center;
      background-color: white;
      padding: 10px;
      border-radius: 4px;
      font-family: Roboto, sans-serif;
      box-shadow: 2px 5px 10px rgb(229, 101, 122);
    }
  }
}
@media (max-width: 1024px) {
  .contact {
    &_contente {
      width: 50%;
    }
  }
}
@media (max-width: 767px) {
  .contact {
    &_contente {
      margin-inline: 10px;
      padding: 30px;
      width: 80%;
    }
  }
}
