.profil {
  border: 2px solid #e1ada2;
  border-radius: 10px;
  &-contenu {
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
  }

  p {
    padding: 40px;
    font-family: Roboto, sans-serif;
  }
}
