.profil {
  margin-top: 40px;
  border: 2px solid #e1ada2;
  border-radius: 10px;
  &-contenu {
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
  }

  p {
    padding: 40px;
  }
}
