header {
  background-image: url("/images/fond2.webp");
  display: flex;
  justify-content: space-between;

  img {
    width: 128px;
    height: 88px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    li {
      color: black;
      list-style-type: none;
      font-family: Montserrat, sans-serif;
    }
    a {
      text-decoration: none;
      color: white;
      margin-inline: 16px;
    }
    & :hover {
      // border-bottom: 2px solid white;
      text-decoration: underline;
    }
  }
}
@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    nav {
      margin-left: 20px;
      a {
        margin: 0;
      }
    }
  }
}
