.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1ada2;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  p {
    position: relative;
    font-family: Montserrat, sans-serif;
  }
  button {
    position: absolute;
    background-color: #e1ada2;
    border-color: rgb(229, 101, 122);
    font-weight: bold;
    padding: 10px;
    top: 12px;
    right: 15px;
    a {
      text-decoration: none;
      color: #fff;
      font-family: Montserrat, sans-serif;
    }
  }
}
@media (max-width: 1024px) {
  .footer {
    button {
      margin-left: 683px;
    }
    p {
      text-align: center;
      padding: 0;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    button {
      display: none;
    }
  }
}
