.ListeProjet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
  button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #b0f2b6;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
